header {
    background-color: #4169e1;
    color: #fff;
    padding: 10px;
    text-align: center;

}

h1 {
    margin: 0;
    font-size: 36px;
    font-weight: bold;
    font-family: Arial, sans-serif
}

.button {
    background-color: #555;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    font-family: Arial, sans-serif
}

