.sidebar {
    width: 200px;
    background-color: #f1f1f1;
    height: 90%;
    position: fixed;
    top: 145px;
    left: 20px;
    overflow-x: hidden;
    padding-top: 10px;
}

.sidebar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.sidebar li a {
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
    font-family: Arial, sans-serif;
}

.sidebar li a:hover {
    background-color: #555;
    color: white;
}